#*#
*~
topcoder/Single*
topcoder/SRM*

# Emacs runtime state and installed packages are machine-local.
.emacs.d/auto-save-list/
.emacs.d/custom.el
.emacs.d/elpa/
.emacs.d/eln-cache/
.emacs.d/places
.emacs.d/recentf
.emacs.d/session.*
.emacs.d/transient/
.emacs.d/var/
